.header {
   width : 1300px;
   height :50px;
   background-color:#3393FF;
   padding:50px;
}
body {

  background-color: #87CEEB;
}
.header1 {

   margin-left: 180px;
   color:black ;

}
.footer {
  height:100px;
  float: right;
}
