body{

  background-color: grey ;
  background-image: url(background-image.jpeg);


}

.form {
    margin-top:40px;
    width:800px;
    height:1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:white ;
    padding-left:50px;

}
.signup {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;

}
.padding1 {
  padding-top: 20px;

}
.label1 {
   margin-left: auto;
   margin-right: auto;
   height : 20px;
   width : 230px ;

}
..container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  color: white;
}
.submit{
     margin-top: 50px;
     margin-left : 0px ;
     height:30px;
     width: 230px;
     background-color:grey;
}
